$block: '.bannerpage';
#{$block}{
	background-color: $black;
	border-bottom: 12px solid #efcd72;
	padding: 6rem 0;
	background-repeat: no-repeat;
	background-position:  top right;
	background-size: contain;
	@include breakpoint(small down){
		background-image: none !important;
	}
	h1{
		font-size: 7.2rem;
		color: $white;
		@include breakpoint(medium down){
			font-size: 5rem;
		}
		/* @include breakpoint(small down){
			font-size: 3rem;
		} */
	}
}


