$block: '.footer';
#{$block}{
	padding: 4rem 0rem 2rem;
	&__wrapper{
		width: 70rem;
		max-width: 100%;
		margin: 0 auto;
	}
	&__logo{
		display: inline-block;
		vertical-align: top;
		@include breakpoint(small down){
  		display: block;
  		text-align: center;
  		margin-bottom: 2rem;
  	}
	}
	&__content{
		clear: both;
		*{
			font-size: 1.2rem;
		}
		@include breakpoint(small down){
			padding: 0 1.5rem;
		}
	}
	&__section{
		width: 49rem;
		max-width: 100%;
		display: inline-block;
		text-align: left;
		float: right;
		margin-bottom: 2.8rem;
		@include breakpoint(small down){
			width: 100%;
			text-align: center;
		}
	}
	&__nav{
		overflow: hidden;
		li{
			list-style: none;
			display: inline-block;
			margin-right: 2rem;
			&:last-child{
				margin-right: 0;
			}
			a{
				font-weight: 600;
				font-size: 1.6rem;
			}
		}
	}
	&__buttons{
		margin-bottom: 2rem;
	}
	.button{
		border: 1px solid $red;
		margin: 0 .5rem 0;
		padding: 1rem 3rem !important;
		@include breakpoint(small down){
			margin-bottom: 1rem;
		}
	}
}
.donate-now + .footer{
	border-top: 1px solid #d3d3d3;
}