$block: '.header';
#{$block}{
  background-color: $white;
  padding: 1rem 0rem;
  @include breakpoint(medium down){
  	padding: 0;
  }
  &__logo{

  	@include breakpoint(medium down){
  		padding: 1rem 1.5rem;
  	}	
  }
	&__top-menu, &__main-menu{
		display: block;
		width: 100%;
		float: right;
		text-align: right;
		@include breakpoint(medium down){
			text-align: left;
		}
		a:not(.button){
			font-size: 1.4rem;
			color: #1c1b28;
			font-weight: 600;
			color: $dark-gray;
			line-height: 1.5;
			img{
				margin-top: -2px;
			}
		}
		li{
			display: inline-block;
			@include breakpoint(medium down){
				display: block;	
			}
		}
	}
	& .cart a{
			background-image: url("../img/cart.png");
			background-repeat: no-repeat;
			padding-left: 4rem;
			background-position: 1rem top;
			margin-left: 1rem;
		}
	& .button{
		padding: 1rem 3rem !important;
		margin-left: 1.3rem;
		@include breakpoint(xlarge down){
			padding: 1rem 1.5rem !important;
			margin-left: 1rem;
		}
		@include breakpoint(medium down){
			margin: 0 .5rem 2rem;
		}
	}
	&__top-menu{
		margin-bottom: 1rem;
		a{
			padding-top: 0 !important;
		}
	}
	&__main-menu a:not(.button){
		font-size: 1.6rem;
		color: $black;
		
	}
	&__main-menu a{
		@include breakpoint(xlarge down){
			font-size: 1.4rem !important;
		}
	}

	&__main-menu a.secondary{
		border: 1px solid #c1231e;
	}

	
  	.top-bar-left{ width: 100%;}
  	.title-bar{ display: none;}
}