.slick-arrow{
	border: 1px solid #efcd71;
	border-radius: 2px;
	width: 4rem;
	height: 4rem;
	text-align: center;
	&:hover{
		opacity: .7;
	}
	&:before{
		color: #efcd71 !important;
		font-size: 3rem;
		opacity: 1;
		line-height: 35px;
	}
}
.slick-prev{
	left: -7rem;
	@include breakpoint(xlarge down){
		left: -5rem;
	}
	
}
.slick-next{
	right: -7rem;
	@include breakpoint(xlarge down){
		right: -5rem;
	}
	
}