/* html{
	font-size: 75%;
	@include breakpoint(xlarge down){
		font-size: 62.5%;
	}


} */
select{
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            color: #6b6b6b;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6b6b6b !important;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
  color: #6b6b6b !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
  color: #6b6b6b !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
  color: #6b6b6b !important;
}
body, html{ height: 100%}
body{font-size: 160%; color: $primary-color; font-weight: 500;}
.internal-page{
	padding: 3rem 0px 5rem;
	color: $dark-gray;
    .pt10rem{
        padding-top: 10rem;
    }
    .mb5rem{
        margin-bottom: 5rem;
    }
	h1{
		color: $black;
	}
	a{
		color: $red;
		text-decoration: underline;
	}
	&__content{
		&:not(.full-template){
			border-left: 1px solid #dbdbdb;
			padding-left: 4rem;
		}
		@include breakpoint(medium down){
			border: none;
			padding-left: 0;
		}
	}
}

.w50{
	max-width: 100%;
	float: left;
	padding: 0 1rem;
	width: 298px;
	@include breakpoint(small down){
		width: 100%;
		padding: 0;
	}
}
.w30{
	width: 30%;
	float: left;
	padding: 0 1rem;
	@include breakpoint(small down){
		width: 100%;
		padding: 0;
	}
}
.margin-nleft{
	margin-left: -1rem;
	@include breakpoint(small down){
		margin-left: 0;
	}
}
.margin-nright{
	margin-right: -1rem;
	@include breakpoint(small down){
		margin-left: 0;
	}
}

p, div, li, span{font-size: 1.3rem; font-weight: 500;}

h1, h2, h3, h4, h5, h6{ font-weight: 700; font-family: 'Lora', serif;}
h3{
	color: $dark-gray;
}
b, strong{ font-weight: 700 !important;}

.no-padding{ padding-left: 0; padding-right: 0;}
*{outline: none;}
.row .row{
	margin-left: 0; margin-right: 0;
}
.no-padding-left{
	padding-left: 0;
	@include breakpoint(small down){
		padding-left: 1rem;
	}
}
.no-padding-right{
	padding-right: 0;
	@include breakpoint(small down){
		padding-right: 1rem;
	}
}

.wrap-relative{position: relative;}
.wrap-absolute{position: absolute;}
.table{display: table;}
.table-cell{display: table-cell;}
.vAmiddle{vertical-align: middle;}
.content-absolute{position: absolute;}
.content-absolute-left{ position: absolute; left: 0;}
.content-absolute-right{ position: absolute; right: 0;}
.w100{width: 100%;}
.h100{height: 100%;}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}


@media all and (min-width:0\0) and (min-resolution:.001dpcm){
      select{
      background-image: none;
    padding: 0.8rem !important;
}
    }
