@media print {
	.header, .bannerpage, .social-section, .footer, .single-main__sidebar, .print-section-hide{
		display: none !important;
	}
	body .print-section{
		width: 100%;
	}
	body .print-section, body .print-section *{ 
		display: block !important;	
	}
	body .archive__boxsocial > *{
		display: none !important;
	}
}