$block: '.button';
#{$block}{
  font-weight: 600;
  padding: 1.5rem 3rem !important;
  &.secondary{
    border: 1px solid $white;
  }
  &.small{
  	font-size: 1.6rem;
  	padding: 1rem 3rem !important;
  }
  &.small--grey{
  	border-color: #9e9e9e !important;
  	color: #9e9e9e !important;
  	font-weight: 700;
  	font-size: 1.2rem;
  	height: 3rem;
  	text-decoration: none !important;
    span{
      line-height: 16px;
      vertical-align: middle;
      font-weight: 700;
    }
  	img{
  		vertical-align: middle;
  	}
  	padding: .7rem 2rem !important;
  }
  &.white, &.white:hover, &.white:focus{
    color: #c1231e;
    background-color: $white;
    border: none;
  }
}
.button.hollow.primary:hover, .button.hollow.primary:focus{
  border-color: $black;
  color: $black;
}
.internal-page .button{ text-decoration: none;}

