$block: '.custom-css';
#{$block}{
	[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea{
		height: 4.8rem;
	}
  & ul, & li{
  	list-style: none;
  	margin: 0rem -1rem 0rem -1rem;
  	@include breakpoint(small down){
			display: block !important;
			float: none;
			width: 100%;
			margin: 0 !important;
  	}
  }
  ul{
		overflow: hidden;
		display: inline-block;
  }
  li{
  	margin-left: 1rem;
  	margin-right: 1rem;
  	float: left;
  	display: inline;
  	
  }
  .large{
  	width: 40rem;
  	max-width: 100%;
  	@include breakpoint(small down){
  		width: 100%;
  	}
  }
  .medium{
  	width: 28rem;
  	max-width: 100%;
  	@include breakpoint(small down){
  		width: 100%;
  	}
  }

  .small{
  	width: 17rem;
  	max-width: 100%;
  	@include breakpoint(small down){
  		width: 100%;
  	}
  }
  .both{
  	clear: both;
  }
  .gform_title{
  	font-size: 4rem;
  	color: $red;
  	margin-bottom: 2rem;
  }

  .gform_body{ 
  	overflow: hidden;
  	display: inline-block;
  	float: left;
  }
  .gform_footer{
  	position: absolute;
  	left: -1000rem;
  	top: 0;
  }
  .button{
  	height: 4.7rem;
  	padding: 1.5rem 3rem !important;
  }
  .gfield_required{
  	display: none;
  }
  *[aria-invalid="true"]{
  	margin-bottom: 0;
  }
  .validation_error{
  	color: $red;
  	margin-bottom: 1rem;
  }
  .validation_message{
  	color: $red;
  }
  .gfield_error{
  	margin-bottom: 1rem !important;
  	input{
  		border: 1px solid $red;
  	}
	}

}

body .gform_wrapper .gform_body .gform_fields .gform_validation_container {display: none;}