$block: '.pum-theme-432';

#{$block}{
    &.pum-theme-default-theme{
        background-color: rgba( 0, 0, 0, 0.5 );
        .pum-content{
            + .pum-close{
                background-color: transparent;
                margin-top: -100px;
                border: 1px solid #ffffff;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                @include breakpoint(medium down) {
                    margin-top: -150px;
                }
            }
        }
        .pum-container{
            background-color: rgba( 28, 27, 40, 1.00 );
            padding: 18px 0px;
            &.pum-responsive{
               img{
                margin-top: -18rem;
               }
               &.pum-responsive-medium{
                   max-width: 740px;
               }
            }
            .live-event{
                text-align: center;
                padding: 0px 60px;
                @include breakpoint(large down) {
                    padding: 0px 6px;
                }
                h3,
                p{
                    color: #fefefe;
                }
                h3{
                    font-size: 40px;
                    line-height: 46px;
                    margin-bottom: 15px;
                    padding: 0 20px;
                    @include breakpoint(medium down) {
                        font-size: 24px;
                        line-height: 30px;
                        padding: 0;
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 22px;
                    padding: 0 60px;
                    @include breakpoint(medium down) {
                        padding: 0;
                    }
                    @include breakpoint(small only) {
                        padding: 0 ;
                    }
                }
                .keep-faith{
                    font-family: 'Permanent Marker', cursive;
                    font-size: 21px;
                    line-height: 49px;
                    color: #fff;
                }
            }
        }
    }
}

html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden] {
    padding-right: 0px;
}

#popmake-447{
    padding: 3.5rem 0 0;
    border-top: #c1231e solid 1.2rem;
    background-color: #fff;
    &.theme-432 .pum-content + .pum-close{
        margin-top: -50px;
    }
    .pum-title{
        color: #1c1b28;
        text-align: center;
        font: {
            family: 'Permanent Marker', cursive;
            size: 7rem;
        }
        line-height: 7.5rem;
        span{
            color: #c1231e;
            font: {
                family: 'Permanent Marker', cursive;
                size: 7rem;
            }
        }
    }
    .form_heading{
        text-align: center;
        margin: 0 auto;
        @include breakpoint(large down) {
            padding: 0 1.5rem;
        }
        .form_title{
            color: #c1231e;
            font: {
                family: 'Lora', serif;
                size: 3.8rem;
            }
            line-height: 4.6rem;
            margin-bottom: 1.5rem
        }
        .form_description{
            color: #1c1b28;
            font: {
                family: Montserrat, sans-serif;
                size: 1.8rem;
            }
            line-height: 2.8rem;
            margin-bottom: 3.5rem;
            br{
                @include breakpoint(medium down) {
                    display: none;
                }
            }
        }
    }
    .gform_wrapper{
        padding: 0 1rem 5rem;
        background: {
            color: #fff;
            image: url(../img/flag.jpg);
            //position: center;
            repeat: no-repeat;
            size: cover;
        }
        @include breakpoint(xlarge down) {
            background-position: center;
        }
        form{
            width: 90rem;
            margin: 0 auto;
            max-width: 100%;
            ul{
                li{
                    display: inline-block;
                    float: left;
                    @include breakpoint(medium down) {
                        display: block;
                    }
                    &:first-child{
                        display: block;
                        float: none;
                    }
                    &.email-field{
                        width: 70%;
                        @include breakpoint(medium down) {
                            width: 100%;
                        }
                    }
                }
            }
            .gform_button{
                position: absolute;
                left: 10000px;
            }
        }
    }
    .gform_body{
        padding-top: 7rem;
        ul{
            margin: 0;
            list-style-type: none;
            li{
                label{
                    display: none;
                }
                .name_first{
                    margin-right: 2rem;
                    @include breakpoint(medium down) {
                        margin-right: 0;
                    }
                }
                .name_first, .name_last{
                    display: inline-block;
                    width: 48%;
                    @include breakpoint(medium down) {
                        width: 100%;
                    }
                }
                .ginput_container_email{
                    width: 95%;
                    @include breakpoint(medium down) {
                        width: 100%;
                    }
                }
                input[type="text"],
                input[type="email"]{
                    height: 4.8rem;
                    padding-left: 4rem;
                }
                input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #6b6b6b;
                    font: {
                        family: Montserrat, sans-serif;
                        size: 1.8rem;
                    }
                }
                input::-moz-placeholder { /* Firefox 19+ */
                    color: #6b6b6b;
                    font: {
                        family: Montserrat, sans-serif;
                        size: 1.8rem;
                    }
                }
                input:-ms-input-placeholder { /* IE 10+ */
                    color: #6b6b6b;
                    font: {
                        family: Montserrat, sans-serif;
                        size: 1.8rem;
                    }
                }
                input:-moz-placeholder { /* Firefox 18- */
                    color: #6b6b6b;
                    font: {
                        family: Montserrat, sans-serif;
                        size: 1.8rem;
                    }
                }
            }
        }
    }
    .gform_footer{
        clear: both;
    }
}
