$event: '.sticky-element';
#{$event}{
	&__event{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		z-index: 100;
		background-color: #c1231e;
		color: $white;
		&__content{
			h1{
				color: #fff;
				font-family: 'Permanent Marker', cursive;
				font-size: 4rem;
				line-height: 40px;
				margin: 0;
				display: inline-block;
				vertical-align: middle;
				padding: 2rem;
				@include breakpoint(large down){
					display: block;
				}
			}
			h2{
				color: #fff;
				font-family: 'Lora', serif;
				font-size: 2rem;
				line-height: 25px;
				margin: 0;
				display: inline-block;
				vertical-align: middle;
				padding: 2rem;
				font-weight: 400;
				@include breakpoint(large down){
					display: block;
				}
				@include breakpoint(medium down){
					font-size: 1.6rem;
					line-height: 20px;
					padding: 1rem;
				}
			}
			a.stream-now{
				margin: 0;
				// background: {
				// 	image: url(../img/watch_now.png);
				// 	repeat: no-repeat;
				// 	position: 2.7rem center;
				// }
				//padding-left: 6rem !important;
				@include breakpoint(large down){
					margin-bottom: 2rem;
				}
			}
		}
	}
}

$block: '.sticky-element';
#{$block}{
	position: fixed;
	bottom: -700px;
	left: 0;
	right: 0;
	width: 125rem;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	z-index: 100;
	background-color: $black;
	color: $white;
	border-radius: 9px;
	border: 3px solid $white;
	padding-left: 650px;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	box-shadow: 0px 0px 7px #666666;
	@include breakpoint(medium down){
		padding-left: 400px;
	}
	@include breakpoint(small down){
		padding: 1rem;
	}
	& > img{
		position: absolute;
		left: 0;
		bottom: 0;
		max-width: 100%;
		width: 620px;
		@include breakpoint(medium down){
			width: 400px;
		}
		@include breakpoint(small down){
			display: none;
		}
	}
	&__close{
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 3.1rem;
		height: 3.1rem;
		cursor: pointer;
	}
	&__content{
		width: 600px;
		max-width: 100%;
		float: right;
		padding: 0 1rem;
		@include breakpoint(medium down){
			h1{
				font-size: 3rem;
			}
		}
		@include breakpoint(small down){
			width: 100%;
			h1{
				font-size: 2rem	;
			}
			.button{
				font-size: 1.4rem;
				padding: 1rem 1rem !important;
			}
		}
	}
	&__wrapp{
		overflow: hidden;
	}

}
