$block: '.stream-video';
#{$block}{
    padding: .6rem 0;
    h1{
        color: #fff;
        font-family: 'Permanent Marker', cursive;
        font-size: 5rem;
        line-height: 50px;
        margin: 3rem 0;
    }
}

/* html{
    background: {
        image: url(../img/Stream-BG.jpg);
        repeat: no-repeat;
        position: center;
    }
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    body{
        background-color: transparent;
    }
} */

// body{
//     &.page-template-template-stream{
//         .stream-video{
//             background: {
//                 image: url(../img/Stream-BG.jpg);
//                 size: cover;
//                 repeat: no-repeat;
//                 position: center;
//             }
//         }
//     }
// }
