$block: '.archive';
#{$block}{
	&__box{
		overflow: hidden;
		border-bottom: 1px solid #dbdbdb;
		padding: 4rem 0 3rem;
		&:hover{
			background: #ebebec;
		}
		&:last-child{
			border: none;
		}
		@include breakpoint(small down){
			padding: 1.5rem 0 2rem;
		}
	}
	&__boximage{
		@include breakpoint(small down){
			text-align: center;
		}
	}
	&__boximage img{
		border-radius: 4px;
		@include breakpoint(small down){
			margin: 0 auto 2rem;
			display: block;
		}
	}
	&__boxtitle{
		margin-bottom: 1.5rem;
		a{
			text-decoration: none;
		}
	}
	&__boxcontent{
		margin-bottom: 2.5rem;
	}
	&__pagination{
		overflow: hidden;
		padding-top: 2rem;
		@include breakpoint(large down){
			margin-bottom: 2rem;
		}
	}
	&__button a{
		background-color: $red;
		color: $white;
		padding: 1rem 3rem;
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 600;
		text-decoration: none;
		border-radius: 4px;
	}
	&__button--left{
		float: left;
	}
	&__button--right{
		float: right;
	}
	&__sidebar{
		text-align: right;
		ul{
			margin: 0 -3rem	0 0;
			@include breakpoint(medium down){
				margin: 0;
			}

		}
		li{
			list-style: none;
			font-size: 2.8rem;
			font-weight: 700;
			font-family: 'Lora', serif;
			padding: .5rem	4rem .5rem 0rem;
			@include breakpoint(medium down){
				margin-bottom: 2rem;
				padding: .5rem	0rem;
			}
			&:hover, &.current-cat{
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(left,  #ffffff 0%, #efcd72 50%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  #ffffff 0%,#efcd72 50%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  #ffffff 0%,#efcd72 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efcd72',GradientType=1 ); /* IE6-9 */
				@include breakpoint(medium down){
					background: #efcd72;
					border-radius: 4px;
					margin-bottom: 2rem;
					padding: .5rem	0rem;
				}
			}

		}
		a{
			text-decoration: none;
			color: $dark-gray;
			@include breakpoint(medium down){
				display: block;
				text-align: center;
				padding: 0rem	2rem;
			}
		}
	}

}