$block: '.single-main';
#{$block}{
	padding: 3rem 0 4rem;
	color: $dark-gray;
	h1{
		color: $black;
		margin-bottom: 2rem;
		line-height: 1;
	}
	a{
		color: $red;
		text-decoration: underline;
	}
	&__sidebar{
		background: #d7d7d9;
		border-radius: 4px;
		border-top: 19px solid $black;
		padding: 1rem 0 0rem;
		overflow: hidden;
		h1{
			color: $black;
			margin-bottom: 0rem;
			padding: 0 2rem;
			@include breakpoint(medium down){
				line-height: 1;
			}
		}
	}
	&__boxdate{
		margin-bottom: 2rem;
		display: block;
	}
	&__box{
		& > *{
			padding:  2rem;
		}
	}
	&__boxelement{
		overflow: hidden;
		
		&:nth-child(even){
			background-color: #c7c7ca;
		}
		@include breakpoint(medium down){
			margin: 0px -1rem rem !important;
		}
	}
	&__boxtitle{
		font-size: 2rem;
		font-family: 'Lora', serif;
		line-height: 1;
		margin-bottom: 1rem;
		a{
			color: $dark-gray;
			text-decoration: none; 
		}
	}
	&__boxcontent{
		color: $dark-gray;
		line-height: 18px;
	}
	
}
