$block: '.banner';
#{$block}{
	min-height: 53rem;
	padding-top: 7.4rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 1.2rem solid #efcd72;
	@include breakpoint(medium down){
		min-height: auto;
		padding-top: 3rem;
	}
	&__box{
		width: 90rem;
		padding: 3rem 2rem 1.5rem;
		text-align: center;
		max-width: 100%;
		margin: 0 auto 7rem;
		background: rgba(255, 255, 255, 0.9);
	}
	&__title{
		font-family: 'Lora', serif;
		font-size: 7.5rem;
		line-height: 75px;
		font-weight: 700;
		@include breakpoint(medium down){
			font-size: 4.5rem;
			line-height: 45px;
		}
	}
	&__subtitle{
		font-family: 'Permanent Marker', cursive;
		font-size: 7rem;
		line-height: 70px;
		margin-bottom: 1.5rem;
		@include breakpoint(medium down){
			font-size: 4rem;
			line-height: 40px;
		}
		span{
			font-family: 'Permanent Marker', cursive;
			font-size: 7rem;
			line-height: 70px;
			color: $red;
			@include breakpoint(medium down){
				font-size: 4rem;
				line-height: 40px;
			}
		}

	}
	&__content{
		width: 589px;
		max-width: 100%;
		margin: 0 auto;
		*{
			font-weight: 500;
			font-size: 1.4rem;
		}
	}
	
}