$block: '.items';
#{$block}{
	background: #fdfcf9;
	padding: 7rem 0;
	@include breakpoint(small down){
		padding: 2rem 0px;
	}
	h1{
		text-align: center;
	}
	&__row{
		text-align: center;
	}
	&__content{
		color: $dark-gray;
		font-weight: 500;
		margin-bottom: 3rem;
	}
	&__box{
		width: 20rem;
		display: inline-block;
		padding: 0 1.5rem;
		vertical-align: top;
		margin-bottom: 2rem;
		img{
			margin-bottom: 1rem;
			border-radius: 4px;
		}
		@include breakpoint(small down){
			display: block;
			margin: 0 auto 2rem;
		}
	}
	&__title{
		display: inline;
		font-weight: 600;
		line-height: 20px;
		font-size: 1.8rem;
		color: $dark-gray;
	}
	
}
