$block: '.news-section';
#{$block}{
	min-height: 41rem;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 8rem;
	@include breakpoint(medium down){
		padding-bottom: 4rem;
	}
	@include breakpoint(small down){
		padding-bottom: 3rem;
	}
	
	&__mainbox{
		background: $black;
		padding: 3rem 2rem 5rem	;
		h4{
			color: $light-blue;
			width: 81rem;
			max-width: 100%;
			margin: 0 auto 1rem;
			padding: 0 .5rem;
			@include breakpoint(medium down){
				padding: 0 1rem;
			}
			
		}
		margin-top: -10rem;
		margin-bottom: 5rem;
		@include breakpoint(medium down){
			margin-top: -5rem;
			margin-bottom: 2rem;
		}
	}
	&__slide{
		width: 82rem;
		max-width: 100%;
		margin: 0 auto;
	}
	&__box{
		width: 286px;
		color: $white;
		padding: 0 1rem;
	}
	&__title{
		font-size: 1.8rem;
		font-weight: 600;
	}
	&__content{
		font-size: 1.3rem;
		font-weight: 400;
	}
}