$block: '.blognews';
#{$block}{
	position: relative;
	padding: 5rem 0;
	h2{
		margin-bottom: 2rem;
		@include breakpoint(medium down){
			text-align: center;
		}
	}
	@include breakpoint(medium down){
		padding: 0;
		.mobile-color{
			background-color: #393841;
			padding: 2rem 1.5rem;
		}
	}
	&__bg{
		background-color: #393841;
		position: absolute;
		width: 50%;
		top: 0;
		left: 0;
		height: 100%;

		@include breakpoint(medium down){
			background: none;
		}
	}
	&__main{
		position: relative;
		z-index: 2;
		.button{
			@include breakpoint(small down){
				margin: 0 auto;
				display: block;
			}
		}
	}
	
	&__news{
		width: 54rem;
		max-width: 100%;
		color: $white;
		h2{
			color: $white;

		}
		@include breakpoint(medium down){
			width: 100%;
		}
		.button.hollow.primary{
			border-color: $white;
			color: $white;
		}
	}
	&__videos{
		width: 54rem;
		max-width: 100%;
		float: right;
		@include breakpoint(medium down){
			width: 100%;
			float: none;
			padding: 2rem 0px;
			.no-padding-left{
				padding: 0 1rem;
			}
		}

	}
	&__boxnews, &__boxvideos{
		overflow: hidden;
	}
	&__boxnews{
		margin-bottom: 2rem;
		.blognews__boxcontent{
			color: $white;
		}
		h5, a{
			color: $white !important;
			line-height: 22px;
			@include breakpoint(small down){
				text-align: center;
			}
		}
		img{
			border-radius: 4px;
			@include breakpoint(medium down){
				margin: 0 auto 1rem;
				display: block;
			}
		}
		.no-padding-left{
			@include breakpoint(medium down){
				padding-left: 0;
			}
		}
	}
	&__boxvideos{
		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid #f3f3f3;
		.responsive-embed, .flex-video{
			margin-bottom: 0;
			border-radius: 4px;
			@include breakpoint(medium down){
				margin-bottom: 1rem;
			}
		}
		&:last-child{
			border: none !important;
		}
	}
	&__boxtitle{
		font-size: 2.8rem;
		font-family: 'Lora', serif;
		font-weight: 700;
		line-height: 30px;
		color: $dark-gray;
		margin-bottom: .7rem;
		a{
			color: $dark-gray;
		}
	}
	&__boxcontent{
		font-size: 1.3rem;
		color: $dark-gray;
	}	
	
}

