$block: '.resources';
#{$block}{
	background-color: $black;
	color: $white;
	position: relative;
	&__box{
		padding: 7rem 0;
		@include breakpoint(medium down){
			padding: 2rem 0 1rem;
		}
	}
	&__title{
		line-height: 48px;
		margin-bottom: 1rem;
		display: block;
	}
	&__content{
		
	}
	&__images{

		@include breakpoint(medium down){
			position: relative;
			text-align: center;
			padding-bottom: 2rem;
		}
	}
	& .table, .table-cell{
		@include breakpoint(medium down){
			display: block;
		}
		
	}
}