$block: '.social-section';
#{$block}{
	background: $black;
	color: $white;
	padding: 6rem 0;
	@include breakpoint(small down){
		padding: 2rem 0;
	}
	a, a:hover{
		color: $white;
	}
	.fts-twitter-reply-wrap, 
	.fts-twitter-reply-wrap-left, 
	.fts-likes-shares-etc-wrap, 
	.fts-jal-fb-header{
		display: none !important;
	}
	a.fts-powered-by-text{
		position: absolute;
		top: -1000rem;
		left: -1000rem;
	}
	.fts-tweeter-wrap .tweeter-info, .fts-jal-single-fb-post{
		border-color: #79797f;
	}
	&__title{
		font-weight: 600;
		font-size: 1.6rem;
		@include breakpoint(small down){
			margin-bottom: 1rem;
		}
	}
	&__wrap{
		@include breakpoint(small down){
			margin-bottom: 3rem;
		}
	}
	#twitter-feed-cpcfoundation div:nth-last-child(2) .tweeter-info, .fts-jal-fb-group-display div:nth-last-child(2){
		border: none;
	}
}