@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700');

/* @import url('https://fonts.googleapis.com/css?family=Kalam:700'); */
/* font-family: 'Kalam', cursive; */

/* @import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:500'); */
/* font-family: 'Abhaya Libre', serif; */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
/* font-family: 'Permanent Marker', cursive; */

@import url('https://fonts.googleapis.com/css?family=Lora:700,700i');
/* font-family: 'Lora', serif; */


@import 'settings';
@import 'foundation';
// @import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
// @include foundation-breadcrumbs;
//@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
// @include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
@include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

//@include motion-ui-transitions;
//@include motion-ui-animations;


/* Custom helpers */
@import '../../bower_components/slick-carousel/slick/slick.scss';
@import '../../bower_components/slick-carousel/slick/slick-theme.scss';
@import 'helpers/globals';
@import 'helpers/arrows';

/* Custom Components */
@import 'components/buttons';
@import 'components/gravity';
@import 'components/stickyBanner';
@import 'components/popup';
/* @import 'components/stream'; */

/* PARTIALS */
@import 'partials/header';
@import 'partials/bannerpage';
@import 'partials/footer';

/* HOME */
@import 'home/banner';
@import 'home/newssection';
@import 'home/resources';
@import 'home/newsblog';
@import 'home/items';
@import 'home/socialsection';

/* BLOG */
@import 'blog/archive';
@import 'blog/single';

/* TEMPLATE*/
@import 'templates/pledge';
@import 'templates/contact';

/* PRINT */
@import 'helpers/print';

