$block: '.contact-page';
#{$block}{
	width: 580px;
	max-width: 100%;
	position: relative;
	z-index: 2;
	@include breakpoint(small down){
		width: 100%;
	}
	ul{
		margin-left: 0;
		width: 80%;
		@include breakpoint(small down){
			width: 100%;
		}
	}
	li{
		list-style: none;
		label{
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}
		&:not(.show-label) label{
			display: none;
		}
	}
	& input, & select, & textarea{
		margin-bottom: 2.2rem;
		
	}

}

$block: '.contact-page-bg';
#{$block}{
	position: relative;
	overflow: hidden;
	min-height: 100rem;
	@include breakpoint(medium down){
		min-height: 0;
	}
	& > img{
		position: absolute;
		bottom: 0;
		
		z-index: 1;
		@include breakpoint(xxlarge down){
			right: 0 !important;
		}
		@include breakpoint(xlarge down){
			left: 30%;
		}
		@include breakpoint(medium down){
			display: none !important;
		}

	}
}

  .gfield_required{
  	display: none;
  }
  *[aria-invalid="true"]{
  	margin-bottom: 0;
  }
  .validation_error{
  	color: $red;
  	margin-bottom: 1rem;
  }
  .validation_message{
  	color: $red;
  }
  .gfield_error{
  	margin-bottom: 1rem !important;
  	input, select{
  		border: 1px solid $red;
  	}
	}
