$block: '.pledge-page';
#{$block}{
	width: 580px;
	max-width: 100%;
	position: relative;
	z-index: 2;
	@include breakpoint(small down){
		width: 100%;
	}
	h1{
		line-height: 1;
		margin-bottom: 2rem;
	}
	.banner__subtitle{
		color: $black;
		display: inline;
		font-size: 2.4rem;
		font-weight: 400 !important;
		span{
			font-size: 2.4rem;
			font-weight: 400 !important;
		}
	}
	ul{
		margin-left: 0;
		overflow: hidden;
	}
	li{
		list-style: none;
	}
	.button{
		margin-bottom: 2rem;
	}
	#boxpledge{
		position: relative;
		width: 58rem;
		max-width: 100%;
		padding: 5.5rem 8rem 5.5rem;
		@include breakpoint(small down){
			margin: 0 auto 2rem;
			padding: 5.5rem 4rem 5.5rem;
		}
		img:not(.bgimg){
			width: 330px;
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}
		margin-bottom: 2rem;
		*{
			position: relative;
			z-index: 5;
			color: $dark-gray;
		}
		.bgimg{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		.gfield_checkbox{
			position: relative;
			z-index: 5;
			@include breakpoint(small down){
				margin-bottom: 2rem;
			}
			li{
				overflow: hidden;
			}
			label{
				line-height: 1.1;
				font-size: 1.7rem;
			}
			input, label{
				float: left;
				margin-bottom: .5rem;
			}
		}
	}
	.wrap-boxpledge label{
		font-weight: 400;
	}
	.wrap-boxpledge > label{
		font-weight: 600;
		font-size: 1.7rem;
		@include breakpoint(small down){
			line-height: 1;
			margin-bottom: 2rem;
		}
		span{
			font-weight: 700;
			font-size: 3rem;
		}

	}
	.hide-label{
		label{
			display: none;
		}
	}
}

.pledge-page-bg{
	position: relative;
	overflow: hidden;
	& > img{
		position: absolute;
		top: 0;
		left: 45%;
		height: 100%;
		z-index: 1;
		@include breakpoint(medium down){
			display: none !important;
		}

	}
}

